body {
    height: 100vh;
    background-color: black;
}
.main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 100%;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    list-style: none;
}
.itemList{
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    width: 170px;
    height: 250px;
    padding: 20px;
    border-radius: 5px;
    border: solid  black;
    font-weight: 800;
    line-height: 25px;
    cursor: pointer;
    transition: all 100ms cubic-beizer(0.175, 0.885, 0.32, 1.275);
}
.itemList:hover{
    box-shadow: 0px -6px 10px rgba(233, 235, 208, 0.781),
    0px 4px 15px rgba(222, 223, 211, 0.897);
    
 }
.image{
    width: 150px;
    border-radius: 75px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.titleName{
    color: #FDFFA7;
}
.containerNotFound{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    gap:20px;
    grid-column: 2/4;
}

.containerList {
    grid-column: 2/4;
}

.paragrpah{
    color:rgba(222, 223, 211, 0.897);
    font-size:20px
}
.imageNotFound{
    width: 250px;
    height: 200px;
}
.containerFilters{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: sticky;
    padding: 10px;
    gap:20px;
}
.sectionFilters{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 1/2;
}
.labelName{
    background: #15CFC9;
    background: linear-gradient(to right, #15CFC9 0%, #5FCF5B 100%);
    background-clip: text;
    color: transparent;
    margin-top: 5px;
}
.inputName{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #15CFC9 ;
    outline: 0;
    font-size: 1rem;
    color: white;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
      color: rgba(168, 175, 180, 0.638);
    }
}
.character{
    text-decoration: none;
    color:white;
    font-size:20px;
}
.characterDetail{
    text-decoration: none;
    color:white;
    font-size: 16px;
}

